.path {
    stroke-dashoffset: 0;
    stroke-dasharray: 3000;
    animation: draw 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s forwards infinite;
}

@keyframes draw {
    from {
        stroke-dashoffset: -1350;
    }
    to {
        stroke-dashoffset: 3000;
    }
}

.svg-container {
    width: 50%;
}